architectureCourseController
architectureCourseWork/.vs
architectureCourseWorkSender/.vs
architectureCourseWork/Debug
architectureCourseWork/x64
architectureCourseWork/Debug
architectureCourseWorkSender/Debug
architectureCourseWorkSender/x64
